* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

p {
  margin: 0; }

::-webkit-scrollbar {
  -webkit-appearance: none; }

::-webkit-scrollbar:vertical {
  width: 10px; }

::-webkit-scrollbar:horizontal {
  height: 7px; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px; }

@font-face {
  font-family: "ProCrastinatingPixie";
  src: url(../assets/font/ProCrastinatingPixie.ttf); }

@font-face {
  font-family: "Oswald-Light";
  src: url(../assets/font/Oswald-Light.ttf); }

@font-face {
  font-family: "Oswald-SemiBold";
  src: url(../assets/font/Oswald-SemiBold.ttf); }

@font-face {
  font-family: "lexendDeca";
  src: url(../assets/font/LexendDeca-SemiBold.ttf); }

@font-face {
  font-family: "lexendExa";
  src: url(../assets/font/LexendExa-Regular.ttf); }

.product-target {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-out;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px #aeaeae;
  padding: 15px; }
  .product-target img {
    width: 100%;
    height: 150px;
    border-radius: 10px; }
  .product-target figcaption {
    font-family: "LexendExa";
    font-size: 16px;
    color: #000;
    text-align: center; }
  .product-target button {
    font-family: "LexendDeca";
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-color: darkblue;
    background-color: darkblue; }

.product-target:hover {
  transform: scale(1.05); }

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  row-gap: 30px;
  height: fit-content;
  background-image: url(../assets/img/darkTrianglesHorizontal.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: none; }
  header .navbar {
    width: 95%;
    padding-inline: 20px;
    border-radius: 10px;
    background-color: #fff; }
    header .navbar h1 {
      font-family: "ProCrastinatingPixie";
      font-size: 50px;
      color: black;
      text-align: center;
      margin: 0; }
    header .navbar form {
      display: flex; }
      header .navbar form button {
        border-width: 0;
        background-color: white;
        padding-right: 5px; }
        header .navbar form button img {
          height: 40px;
          width: auto; }
      header .navbar form input {
        width: 300px; }
    header .navbar .icons {
      display: flex; }
      header .navbar .icons div {
        width: 160px; }
      header .navbar .icons div:first-child {
        border-right: 1px solid #000;
        padding-right: 10px; }
      header .navbar .icons div:last-child {
        border-left: 1px solid #000;
        padding-left: 10px; }
      header .navbar .icons a {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        font-family: "LexendDeca";
        color: black; }
        header .navbar .icons a img {
          height: 30px;
          width: auto;
          padding-right: 5px; }
    header .navbar .menu button {
      height: 50px; }
    header .navbar .menu .nav-item {
      list-style: none;
      padding-bottom: 10px; }
      header .navbar .menu .nav-item a {
        font-family: "LexendDeca";
        font-size: 20px;
        color: #fff;
        text-align: center; }
  header h2 {
    font-family: "ProCrastinatingPixie";
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin: 0; }
  header .carousel {
    display: flex;
    width: 100%;
    height: 350px;
    overflow-x: scroll; }
    header .carousel img {
      scroll-snap-align: center;
      width: 100%; }

.main-home p {
  font-family: "LexendDeca";
  font-size: 20px;
  color: #797979;
  text-align: center;
  padding: 20px; }

.main-home h3 {
  font-family: "LexendDeca";
  font-size: 40px;
  color: #000;
  text-align: justify;
  margin: 20px; }

.main-home section {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px; }

footer {
  background-image: url(../assets/img/darkTrianglesHorizontal.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 20px; }
  footer section {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 250px;
    grid-template-areas: "titulo titulo titulo" "horario direccion redes"; }
    footer section h3 {
      grid-area: titulo;
      font-family: "ProCrastinatingPixie";
      font-size: 40px;
      color: #fff;
      text-align: center;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
      border-bottom: 5px solid #ddd;
      margin-inline: 30px; }
    footer section .horario {
      grid-area: horario;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
      border-right: 2px solid #ddd;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 30px; }
    footer section .direccion {
      grid-area: direccion;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
      border-right: 2px solid #ddd;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 30px; }
    footer section .redes {
      grid-area: redes;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
      margin-top: 20px;
      margin-bottom: 20px; }
      footer section .redes img {
        width: 200px; }
    footer section div p {
      font-family: "LexendExa";
      font-size: 20px;
      color: #fff;
      text-align: center; }

.main-products {
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr repeat(5, 1fr);
  grid-template-rows: 150px 300px 1fr 1fr;
  grid-template-areas: "P-title P-title P-title . . ." "P-categories P-target P-target P-target P-target P-target" "P-categories P-target P-target P-target P-target P-target" "P-categories P-target P-target P-target P-target P-target"; }
  .main-products .section-title {
    grid-area: P-title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 25px; }
    .main-products .section-title h1 {
      font-family: "ProCrastinatingPixie";
      font-size: 40px;
      color: #000;
      text-align: left; }
    .main-products .section-title .main-rute {
      display: flex;
      flex-flow: wrap;
      justify-content: left;
      align-items: center; }
      .main-products .section-title .main-rute img {
        display: block;
        height: 25px;
        width: auto;
        padding-right: 5px; }
      .main-products .section-title .main-rute a {
        font-family: "LexendExa";
        font-size: 20px;
        color: #888;
        text-align: left; }
  .main-products .acc-list {
    grid-area: P-categories;
    width: 100%; }
    .main-products .acc-list h2 {
      font-family: "LexendDeca";
      font-size: 25px;
      color: #000;
      text-align: left; }
    .main-products .acc-list ul li {
      list-style: none;
      font-family: "LexendExa";
      font-size: 16px;
      color: #888;
      text-align: left;
      padding: 5px; }
    .main-products .acc-list li:hover {
      cursor: pointer;
      color: darkblue;
      font-size: 105%; }
  .main-products .categories-products {
    grid-area: P-target;
    padding-inline: 25px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; }

.carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 20px; }
  .carrito .carrito-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px; }
    .carrito .carrito-header img {
      width: 150px;
      height: fit-content; }
    .carrito .carrito-header h2 {
      padding: 20px;
      font-family: "LexendDeca";
      font-size: 50px;
      color: #000;
      text-align: center; }
    .carrito .carrito-header p {
      font-family: "LexendExa";
      font-size: 20px;
      color: #5d5d5d;
      text-align: center; }
  .carrito .container-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 50px; }
    .carrito .container-table table thead {
      font-family: "LexendDeca";
      font-size: 30px;
      color: #000;
      text-align: center;
      background-color: #D9D9D9;
      border-radius: 10px 10px 0 0; }
      .carrito .container-table table thead th {
        padding: 15px; }
      .carrito .container-table table thead th:first-child {
        border-top-left-radius: 10px; }
      .carrito .container-table table thead th:last-child {
        border-top-right-radius: 10px; }
    .carrito .container-table table tbody {
      font-family: "LexendExa";
      font-size: 20px;
      color: #000;
      text-align: center; }
      .carrito .container-table table tbody tr td {
        padding: 10px; }
    .carrito .container-table table tfoot {
      font-family: "LexendDeca";
      font-size: 20px;
      color: #000;
      text-align: left;
      background-color: #D9D9D9; }
      .carrito .container-table table tfoot td {
        padding: 10px 0 10px 10px;
        text-align: left; }
        .carrito .container-table table tfoot td p {
          font-family: "LexendExa";
          font-size: 15px;
          color: #000;
          text-align: left; }
      .carrito .container-table table tfoot .checkout-btn-container {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; }
    .carrito .container-table .product-table {
      width: 1000px; }
      .carrito .container-table .product-table th:first-child {
        width: 60%; }
      .carrito .container-table .product-table td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        height: 225px; }
        .carrito .container-table .product-table td h4 {
          font-family: "LexendExa";
          font-size: 20px;
          color: #000;
          text-align: left; }
        .carrito .container-table .product-table td p {
          font-family: "LexendExa";
          font-size: 15px;
          color: #5d5d5d;
          text-align: justify; }
        .carrito .container-table .product-table td img {
          width: 200px;
          height: fit-content; }
        .carrito .container-table .product-table td button {
          background-color: #F5F5F5;
          border: none;
          border-radius: 5px;
          color: #555;
          font-size: 18px;
          font-weight: bold;
          padding: 5px 10px;
          cursor: pointer; }
        .carrito .container-table .product-table td button:hover {
          background-color: #ddd; }
        .carrito .container-table .product-table td .quantity {
          text-align: center;
          margin: 0 10px; }
      .carrito .container-table .product-table .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start; }
        .carrito .container-table .product-table .description button {
          display: flex;
          color: #F00;
          background-color: unset;
          padding: 0; }
          .carrito .container-table .product-table .description button img {
            height: 25px;
            width: auto; }
        .carrito .container-table .product-table .description div:hover {
          cursor: pointer; }
      .carrito .container-table .product-table td:last-child {
        font-weight: bold;
        text-align: center; }
    .carrito .container-table .resume-table {
      width: 400px;
      height: 300PX; }
      .carrito .container-table .resume-table tr {
        text-align: left; }
      .carrito .container-table .resume-table .checkout-btn-container {
        text-align: center;
        padding: 10px;
        height: 80px; }
        .carrito .container-table .resume-table .checkout-btn-container .checkout-btn {
          width: 100%;
          background-color: #DF0000;
          color: #fff;
          border: none;
          border-radius: 10px;
          padding: 10px 20px;
          cursor: pointer; }
        .carrito .container-table .resume-table .checkout-btn-container .checkout-btn:hover {
          background-color: #ff4747; }
  .carrito .container-checkout {
    position: block;
    width: 100%;
    height: 100%; }
    .carrito .container-checkout .container-shipment, .carrito .container-checkout .container-payment {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px; }
      .carrito .container-checkout .container-shipment h2, .carrito .container-checkout .container-payment h2 {
        font-family: "LexendDeca";
        font-size: 30px;
        color: #000;
        text-align: left;
        margin-bottom: 20px; }
      .carrito .container-checkout .container-shipment form, .carrito .container-checkout .container-payment form {
        display: flex;
        flex-flow: wrap;
        justify-content: start;
        align-items: center; }
        .carrito .container-checkout .container-shipment form div, .carrito .container-checkout .container-payment form div {
          display: flex;
          flex-direction: column;
          padding: 10px;
          width: 50%; }
          .carrito .container-checkout .container-shipment form div label, .carrito .container-checkout .container-payment form div label {
            font-family: "LexendExa";
            font-size: 16px;
            color: #000;
            text-align: left;
            margin-bottom: 10px; }
          .carrito .container-checkout .container-shipment form div input, .carrito .container-checkout .container-payment form div input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px; }
        .carrito .container-checkout .container-shipment form .largeW, .carrito .container-checkout .container-payment form .largeW {
          width: 100%; }
        .carrito .container-checkout .container-shipment form .smallW, .carrito .container-checkout .container-payment form .smallW {
          width: 33%; }
        .carrito .container-checkout .container-shipment form .botones-form, .carrito .container-checkout .container-payment form .botones-form {
          width: 100%;
          flex-direction: row;
          justify-content: space-around;
          padding-top: 30px; }
          .carrito .container-checkout .container-shipment form .botones-form button, .carrito .container-checkout .container-payment form .botones-form button {
            width: 40%;
            font-family: "LexendExa";
            font-size: 24px;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            transition: all 0.3s ease-in-out; }
          .carrito .container-checkout .container-shipment form .botones-form .cancelBtn, .carrito .container-checkout .container-payment form .botones-form .cancelBtn {
            width: 50px;
            background-color: #ccc;
            margin-right: 10px; }
          .carrito .container-checkout .container-shipment form .botones-form .confirmBtn, .carrito .container-checkout .container-payment form .botones-form .confirmBtn {
            background-color: #4CAF50;
            color: #fff; }
          .carrito .container-checkout .container-shipment form .botones-form .confirmBtn:hover, .carrito .container-checkout .container-payment form .botones-form .confirmBtn:hover {
            background-color: #3e8e41; }
  .carrito .container-checkout:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); }
  .carrito .hide {
    display: none; }
