*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav-item{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical{
    width: 10px;
}
::-webkit-scrollbar:horizontal {
    height: 7px;
}
::-webkit-scrollbar-button{
    display: none;
} 
::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}
