@font-face {
    font-family: "ProCrastinatingPixie";
    src: url(../assets/font/ProCrastinatingPixie.ttf);    
}
@font-face {
    font-family: "Alexandria";
    src: url(../assets/font/alexandriaRegular.ttf);    
}