.main-home{
    p{
        @include font($subtitle, 20px, #797979, center);
        padding: 20px;
    }
    h3{
        @include font($subtitle, 40px, #000, justify);
        margin: 20px;
    }
    section{
        @include flex(center, center);
        gap: 50px;
    }
}