.main-products{
    display: grid;
        width: 100%;
        grid-template-columns: 1.5fr repeat(5, 1fr);
        grid-template-rows: 150px 300px 1fr 1fr;
        grid-template-areas: 
        "P-title P-banner P-banner P-banner P-banner P-banner"
        "P-categories P-banner P-banner P-banner P-banner P-banner"
        "P-categories P-offers P-offers P-offers P-offers P-offers"
        "P-categories P-offers P-offers P-offers P-offers P-offers"
        ;
    .section-title{
        grid-area: P-title;
        @include flexColumn(center, left);
        padding-left: 25px;
        h1{
            @include font($title, 40px, #000, left);
        }
        .main-rute{
            @include flex(left, center);
            img{
                display: block;
                height: 25px;
                width: auto; 
                padding-right: 5px;
            }
            a{
                @include font($text, 20px, #888, left);
            }
        }
    }
    .categories{
        grid-area: P-categories;
        padding-inline: 20px;
        width: 100%;
        div{
            border-bottom: 2px solid #ccc;
            margin-bottom: 10px;
            h2{
                @include font($subtitle, 25px, #000, left);
            }
        }
        ul li{
            list-style: none;
            @include font($text, 16px, #888, left);
            padding: 5px;
        }
        li:hover{
            color: darkblue;
            font-size: 105%;
        }
    }
    .products-banner{
        grid-area: P-banner;
        @include flex(center, center);
        padding-inline: 50px;
        .carousel{
            display: flex;
            width: 100%;
            height: 350px;
            overflow-x: scroll;
            img {
                scroll-snap-align: center;
                width: 100%;
            }
        }
    }
    .products-offers{
        grid-area: P-offers;
        padding-inline: 50px;
        div{
            @include flex(space-between, center);
        }
        
    }
}